footer{
    background-color:rgb(8, 12, 22);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    bottom:0;
}
footer p {
    display:flex;
    justify-content: flex-end;
    width:80%;
    font-size: 12px;
    color:white;
    font-family: Marker Felt, fantasy;
    margin: 10px 0 10px 0;

}