.classes-list{
    margin:100px 0 10px 0;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-family: Marker Felt, fantasy;
    justify-content: space-between;
}

.class-info{
    margin-top:10px;
    font-size:1em;
    display:flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    background: #FFF;
    box-shadow: 2px 2px 2px #CCC;
    transition: .3s;
}

.class-info article{
    
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class-info:hover{
    box-shadow: 4px 4px 4px #CCC;

}

.class-left{
    display:flex;
    align-items: right;
    flex-grow: 0;
    width:50%;
    margin:10px;
    float:left;
}
.class-left iframe{
    display: flex;
    align-items: left;
    justify-content: left;

}
.class-right{
    display:flex;
    flex-direction: column;
    align-items: left;
    width:20%;
    max-width: 15%;
}