*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    background: rgb(15, 11, 21);
    color:#333;
}

.btnvoltar{
    width:10%;
    height: 42px;
    border-radius: 5px;
    border: 2px solid #39aada;
    background:none;
    margin: 10px;
    color: #39aada;
    font-weight: bold;
    font-size:16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
    
.btnvoltar:hover{
    background:#39aada;
    color:#fff;
}
